body{
    width :1200px;
}
table{
    border-collapse: collapse;
    width:500px;
  }
.t1{
    table-layout: fixed;
  }

th, td{
    border: 1px solid black;
    padding:12px 15px;
    
  }
th:nth-child(1),td:nth-child(1){
    width:200px;
}
th:nth-child(3),td:nth-child(3){
    width: 65px;
}
thead tr{
    background-color:#009879;
    color:#ffffff;
    text-align: left;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    color: #009879;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

input{
    border-radius:15px;
    margin-bottom : 15px;
    line-height:30px;
}
form{
    margin-top:20px;
}
fieldset{
    display:inline;
}
fieldset{
    background-color:#e6f1ca;
    border-radius:15px;
}
legend{
    font-size:16px;
    font-weight:bold;
    margin-bottom:15px;
}